.header_title {
    color: red;
    font-size: 25px;
    font-weight: 700;
}

.search_box {
    width: 250px;
    color: black;
    padding-left: 5px;
    border-radius: 10px;
    margin-right: 15px;
}

.search_button {
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    width: 175px;
}

.movie_image {
    min-width: 342px;
}

.search_icon {
    padding-right: 15px;
}

.movie_title {
    font-size: 20px;
    padding-left: 15px;
    padding-top: 15px;
}

.movie_original_title {
    font-size: 15px;
    padding-left: 15px;
}

.flag_icon {
    width: 35px;
    padding-top: 5px;
    padding-left: 15px;
}

.no_flag {
    font-size: 15px;
    padding-top: 5px;
    padding-left: 15px;
}

.movie_media {
    font-size: 15px;
    padding-top: 0px;
    padding-left: 15px;
}

.reviews {
    padding-left: 15px;
}

.star_review {
    color: white;
}

.text_elements {
    justify-items: center;
    display: none;
}

.active {
    display: none;
}

.active {
    display: inline-block;
}

.movie_card {
    background-size: cover;
    height: 500px;

}

.column {
    flex-direction: column;
}